body 
{
	font-size:1.2em;
}
h1 {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	
}
h1.spider_man {
	color: white;
	background-color: red;
	border: 5px solid blue; }

	h1.Venom {
	color: white;
	background-color: black;
	border: 5px solid darkgray;

}
	h2 {
		width: fit-content;
		border-radius: 10px;
	}
	h2.spider_man {
		color: white;
		background-color: red;
		width: fit-content;
		border-radius: 10px;
	}
	h2.Venom {
		color: white;
		background-color: black;
		width: fit-content;
		border-radius: 10px;
	}